:root {
    --main-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --logo-color: #000000;
    --section-bg: #F5F4FA;
    --hero-footer-bg: #2F303A;
    --address-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    color: var(--main-color);
    background-color: var(--primary-white-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: inherit;
}

/* header styles */
.logo {
    text-decoration: inherit;
    color: var(--logo-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-secondary {
    color: var(--accent-color);
}


/* site nav styles */
.site-nav .link {
    text-decoration: inherit;
    color: var(--secondary-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .active-list  {
    color: var(--accent-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/* header contacts styles */
.contacts .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: inherit;
}

.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color);
}

/* main styles */

/* hero style */

.hero, .footer {
    background: var(--hero-footer-bg);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;

    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* section "особенности работы" */

.features-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--secondary-color);
}

.features-text {
    line-height: 1.71;
}

/* section "чем мы занимаемся" */

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    color: var(--secondary-color);
}

/* section Наша команда */

.team {
    background-color: var(--section-bg);
}

.team-list {
    background-color: var(--primary-white-color) ;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
}

.team-job {
    font-size: 16px;
    line-height: 1.19px;
    
    text-align: center;
}

/* footer styles */

.footer-logo {
    color: var(--primary-white-color) ;
}

.address .text-address {
    font-style: normal;

    color: var(--primary-white-color);
}

.address .footer-contacts {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    
    color: var(--address-color);
}

/* стили portfolio.html */

.portfolio-button {
    background: var(--section-bg);
    color: var(--secondary-color);
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    
    text-align: center;  
}

.portfolio-button:hover, 
.portfolio-button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Карточки портфолио */

.portfolio-box  {
    border: 1px solid #EEEEEE;
}
